body{
    background-image: url(bgi.jpg);
    background-repeat: no-repeat;    
    background-position: center;  
    background-attachment: fixed;
    background-size:cover;   
    margin:0px 5px 0px;
}
header h1{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:bolder;
    flex:1;
}
.pagetitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul{
    overflow: auto;
    list-style-type:none;  
    background-color: darkcyan;
    padding:0px;
    margin:0px;
    border-radius: 10px;
    margin-bottom: 10px;    
}
.navbar li{
    float: left;
    margin-left: 20px;
    font-family: 'Young Serif';
}
.navbar li a{
    padding:3px 3px;
    color:white;
    text-decoration: none;
    padding:10px;
    display: block;
    text-align: center;
}
.fa-solid.fa-cart-shopping:hover{
    color:blue;
}
.category{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.subc{
    margin:0px;
}
.subc img{
    border-radius: 50px;
}
