body{
    background-image: url(bgi.jpg);
    background-repeat: no-repeat;    
    background-position: center;  
    background-attachment: fixed;
    background-size:cover;   
    margin:0px 0px 0px;
}
header h1{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:bolder;
    flex:1;
}
.pagetitle{
    display: flex;
    justify-content: space-between;
    background-color: #212529;
    color: white;
}
.cart{
    position: relative;
    padding:15px;
    background-color: white;
    border-radius: 250px;
    color:#212529;
    font-size: 40px;
}
.cartAmount{
    position: absolute;
    padding-top: 15px;
    top: -15px;
    right: 0;
    font-size: 30px;
    background-color: red;
    color: white;
    border-radius: 20px;
}

.navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    list-style-type:none;  
    background-color: darkcyan;
    padding:0px;
    margin:0px;
    margin-bottom: 30px; 
       
}

.navbar li{
    float: left;
    margin-left: 20px;
    font-family: 'Young Serif';
}
.navbar li a{
    padding:3px 3px;
    color:white;
    text-decoration: none;
    padding:10px;
    display: block;
    text-align: center;
}
.dropdown {
    float: left;
    overflow: hidden;
  }
  
.dropdown {
    font-size: 17px;  
    border: none;
    outline: none;
    color: white;
    padding: 8px;
    background-color:darkcyan;
    font-family: 'Young Serif';
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: hsl(149, 71%, 42%);
    min-width: 0px;
    overflow: hidden; /* Add this line to prevent content overflow */
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: absolute;
  }
  
.dropdown-content a:hover {
    background-color: #ddd;
  }
  
.dropdown:hover .dropdown-content {
    display: block;
    text-align: relative;
  }
.fa-solid.fa-cart-shopping:hover{
    color:blue;
}
.category{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.subc{
    margin:0px;
}
.subc img{
    border-radius: 50px;
}

.shop{
    display: grid;
    grid-template-columns: repeat(4,223px);
    gap:30px;
    justify-content: center;
}

.item{
    border: 2px solid black;
    border-radius: 4px;
}

.details{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 15px;
}

.price-quantity{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap:10px;
    font-size: 20px;
}
